<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>CEE System</title>
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/3.4.1/css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/3.4.1/css/bootstrap-theme.min.css}" />
	<link rel="stylesheet" th:href="@{/css/confirm-dialog.css}" />
	<link rel="stylesheet" th:href="@{/css/estilo.css}" />

<!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round"> -->
<!-- <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->

	<script type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/3.4.1/js/bootstrap.min.js}"></script>
</head>

<body>

	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
					aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span
						class="icon-bar"></span> <span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">E</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
					<li><a href="#">Link</a></li>
					<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" role="button"
							aria-haspopup="true" aria-expanded="false">Cadastros <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">Cargos</a></li>
							<li><a href="#">Cidades</a></li>
							<li><a href="#">Colaboradores</a></li>
							<li><a href="#">Equipamentos</a></li>
							<li><a href="#">Setores</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<div id="main" class="container-fluid" style="margin-top: 40px">
		<h3 class="page-header">Encerramento de Ordem de Serviços</h3>
	</div>

	<div class="container-fluid" id="form-cabecalho">
		<div class="alert" th:if="${!#strings.isEmpty(mensagem)}" th:classappend="${erro ? 'alert-danger' : 'alert-success'}">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<span th:text="${mensagem}"></span>
		</div>
		
		<form>
			<div class="row">
				<label style="margin-left: 16px; margin-right: 10px;">Status da O.S.</label>
			</div>

			<div class="row">
				<div class="form-group col-sm-4">
					<select class="form-control" >
						<option th:each="st : ${statusOs}" th:text="${st.descricao}" th:value="${st}">001-Radio de teste </option>
					</select>
				</div>
			</div>

			<div class="row">
				<div class="form-group col-sm-2">
					<label >Data Incial (Abert. O.S.)</label>
					<input type="text" class="form-control" />
				</div>
				<div class="form-group col-sm-2">
					<label >Data Final (Abert. O.S.)</label>
					<input type="text" class="form-control" />
				</div>
		
			</div>

			<div class="row">
				<div class="col-md-12">
						<button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>  Pesquisar</button>
						<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-print" aria-hidden="true"></span>  Imprimir Relatório</button>
						<a th:href="@{/}" class="btn btn-danger"><span class="glyphicon glyphicon-off" aria-hidden="true"></span>  Cancelar</a>
				</div>
			</div>
		</form>
		<div id="list" class="row">

				<div class="table-responsive col-md-12">
					<table class="table table-striped">
						<thead>
							<tr>
								<th class="text-center col-sm-1">Nº da O.S.</th>
								<th class="text-left col-sm-2">Data Abert.</th>
								<th class="text-left col-sm-5">Item</th>
								<th class="text-center col-sm-1">Status</th>
								<th class="text-center col-sm-2">Ações</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="os : ${ordemServicos}">
								<td th:text="${os.numeroOrdemServico}">1001</td>
								<td th:text="${{os.dataAbertura}}">1001</td>
								<td>Analista de Sistemas</td>
								<td class="text-center col-sm-1"><span class="label label-success">Aberta</span></td>
								<td class="actions">
									<a class="btn btn-success btn-xs" href="#"><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> Baixar O.S.</a>
									<a class="btn btn-info btn-xs" href="#"><span class="glyphicon glyphicon-print" aria-hidden="true"></span> Imprimir O.S.</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
	</div>

	<footer class="footer" style="margin-left: 10px">
		<hr>
		<p>&copy; 2019 CEE System - Controle de Entrega de Equipamentos</p>
	</footer>

</body>

</html>